@import '../../styles/index.scss';

.input {
  min-width: 300px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba($color-black, 0.03);
  box-shadow: rgba($color-black, 0.1) 0px 0px 0px 1px;
  transition: box-shadow ease-out 0.2s;

  &:focus {
    background-color: $color-white;
    box-shadow: rgba($color-green, 0.3) 0px 0px 0px 2px;
  }
}
