@import '../../styles/index.scss';

.input {
  min-width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba($color-dark-blue, 0.2) 0px 0px 0px 1px;
  transition: box-shadow ease-out 0.2s;
  display: block;

  &:focus {
    background-color: $color-white;
    box-shadow: rgba($color-green, 0.3) 0px 0px 0px 2px;
  }
}
