{
  "extends": ["react-app"],
  "rules": {
    "prefer-const": "warn",
    "no-console": "warn",
    "quotes": ["warn", "single", { "avoidEscape": true }],
    "jsx-quotes": ["warn", "prefer-double"],
    "indent": ["warn", 2],
    "max-len": ["warn", { "code": 120 }],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
