@import '../../styles/index.scss';

.chatPreview {
  cursor: pointer;

  &:not(:first-child) {
    border-top: lighten($background-color-dark, 5%) 1px solid;
  }

  &:last-child {
    border-bottom: lighten($background-color-dark, 5%) 1px solid;
  }

  &:hover {
    background-color: lighten($background-color-dark, 2%);
  }

  &.selected {
    background-color: lighten($background-color-dark, 4%);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px 10px;
}

.avatar {
  @include flexCenter;
  position: relative;
  overflow: hidden;

  width: 60px;
  height: 60px;

  color: lighten($text-color-dark, 70%);
  background-color: rgba($color-white, 0.2);
  border-radius: 50%;

  .icon {
    position: absolute;
    bottom: -5px;
    font-size: 50px;
  }
}

.phoneNumber {
  font-size: $font-size-l;
}
