// main colors
$color-green: #00a884;
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #cc6b6b;

// specific colors
$error-color: $color-red;

// background colors
$background-color-dark: #0b141a;
$bakground-color-green: $color-green;
$bakground-color-light: #FFFFFF;

// text colors
$text-color-light: #ffffff;
$text-color-dark: #0b141ac9;

// font size
$font-size-xl: 28px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;


