// main colors
$color-green: #00a884;
$color-dark-green: darken(#00a884, 10%);
$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #0b141a;
$color-red: #cc6b6b;
$color-gunmetal: #1b272c;

// specific colors
$error-color: $color-red;

// message colors
$background-color-incoming: #202C33;
$background-color-outgoing: #005C4B;

// background colors
$background-color-dark: $color-dark-blue;
$bakground-color-green: $color-green;
$bakground-color-light: $color-white;

// text colors
$text-color-light: $color-white;
$text-color-dark: rgba($color-dark-blue, 0.8);

// font size
$font-size-xl: 28px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

// border
$border: 1px solid rgba($color-white, 0.15);