@import "./styles/var.scss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-weight: $font-weight-regular;
  color: $text-color-light;
}

h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-l;
}