@import '../../styles/index.scss';

$color-gunmetal-lighter: lighten($color-gunmetal, 5%);

.messengerContainer {
  width: 100%;
  height: 100%;
  display: flex;

  .sidebar {
    min-width: 450px;
    border-right: $border;
  }

  .chat {
    flex: 1 1 auto;
    background-color: $color-gunmetal;
  }
}
