@import '../../styles/index.scss';

$color-gunmetal-lighter: lighten($color-gunmetal, 5%);

.messengerContainer {
  display: flex;
  max-width: 1500px;
  max-height: 950px;
  overflow: hidden;
  height: 100%;
  margin: 0 auto;

  border: lighten($background-color-dark, 5%) 1px solid;
}

.sidebar {
  min-width: 450px;
  border-right: lighten($color-gunmetal, 5%) 1px solid;;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  .canvas {
    position: relative;
    flex: 1 1 auto;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      background-image: url("../../assets/chat-bg.png");
    }
  }
}

.loader {
  position: absolute;
  z-index: 3;
  bottom: 2px;
  left: 50%
}
